/* --------------- LINK --------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@300;400&display=swap');

/* --------------- ROOT --------------- */

:root
{
    --clr-10:#6655cd;
    --clr-55:#c3bbeb;
    --clr-25:#a79be2;
    --BG-clr:#f4f4f4;
    --Slytblack:#0e2733;
    --black:#252525;
    --poppins:'Poppins', sans-serif;
    --Montserrat:'Montserrat', sans-serif;
 
    --box-shadow-light:#64646f4a 0px 7px 29px 0px;
}
::selection
{
    color: #fff;
    background-color: lightblue;
}
::-webkit-scrollbar
{
    width: 1rem;
    background-color: #f4f4f4;
    box-shadow: inset 0 0 20px -1px rgba(0,0,0,0.56);
}
::-webkit-scrollbar-thumb
{
    background-color: var(--clr-10);
}
/* --------------- BASE --------------- */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: var(--BG-clr);
    height: 100vh;
}
/* ---------------NAVBAR [ START ]--------------- */

nav
{   height: 80px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo
{
    width: 200px;
    height: 100%;
}
nav .logo:hover img
{
    mix-blend-mode: color-burn;
    cursor: pointer;
}
.logo img
{
    transition: 500ms mix-blend-mode;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

nav ul
{
    float: right;
    margin-right: 20px;
}
nav ul li 
{
    display: inline-block;
    /* margin: 0 5px; */
    padding: 0.5rem 1rem;
}
nav ul li:last-child a
{
    background-color: var(--clr-10);
    border-radius: 4px;
    border-bottom: 2px solid transparent;
}
nav ul li:last-child:hover a
{
    border-bottom: 2px solid var(--clr-10);
}

nav ul li:last-child a
{
    background-color: var(--clr-10);
    border-radius: 4px;
    border-bottom: 2px solid transparent;
}
nav ul li:last-child:hover a
{
    border-bottom: 2px solid var(--clr-10);
}
nav ul li a
{
    color: var(--Slytblack);
    font-size: 17px;
    padding: 7px 13px;
    text-decoration: none;
    font-family: var(--Montserrat);
    transition: 500ms color , border-bottom 450ms;
    /* border-bottom: 2px solid transparent; */
    position: relative;
    top: 0;
    left: 0;
}

nav ul li a:hover
{
color: var(--clr-55);
}
nav ul li a::before
{
content: '';
position: absolute;
bottom: 0;
left: 0;
height: 2px ;
width: 100%;
background-color: var(--clr-10);
scale: 0;
transition: 500ms all;
}
nav ul li:hover a::before
{
scale: 1;
}
/* menu */
.checkbtn{
    font-size: 30px;
    margin-left: 40px;
    float: right;
    color: var(--clr-10);
    cursor: pointer;
    display: none;
}
#Ch{
    display: none;
}
/* ---------------NAVBAR [ END ]--------------- */


.form__container
{
    /* background: url(./Assets/Images/Pi-Slices.gif);
    background-repeat: no-repeat;
    background-size: cover;
    */
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    place-items: center;

    height: 80vh;
    width: 90%;

    overflow-y: hidden;
    margin-inline:auto ;

    background-color: rgba(255,255,255,0.2345);
    backdrop-filter: blur(5px);
    border-radius: 6px;
    border: 1px solid transparent;
}
.form__container:hover
{
    border: 1px solid rgba(255, 255, 255, 0.477);
}
.Left__from_Img
{
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.Left__from_Img img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
form
{
 height: 100%;
 width: 100%;
 /* overflow: hidden; */
}
form h2,
form p
{
text-align: center;
font-family: var(--poppins);
letter-spacing: 1px;
font-size: 2rem;
color: var(--Slytblack);
}
form p
{
    font-size: 1rem;
    color:var(--clr-25);
}
.form__container__inner
{
    width: 97%;
    height: 100%;
    max-height: auto;

    margin: auto;
}
.form__container__inner .email,
.form__container__inner .Username,
.form__container__inner .Password,
.form__container__inner_Checkbox
{
text-align: center;

width: 85%;
margin:1rem auto ;
}
.form__container__inner_Checkbox span > a
{
    color: var(--clr-10);
    font-family: sans-serif;
    font-weight: 550;
    text-decoration: none;
}
.form__container__inner .email input,
.form__container__inner .Username input,
.form__container__inner .Password input
{
width: 100%;
height: 3rem;

border-radius: 4px;
outline: 0;
border: 2px solid #ccc;

font-size: 1.1rem;
letter-spacing: 1px;

caret-color: var(--clr-10);
color: var(--Slytblack);

}



.form__container__inner .email input:hover,
.form__container__inner .email input:focus,

.form__container__inner .Username input:hover,
.form__container__inner .Username input:focus,

.form__container__inner .Password input:hover,
.form__container__inner .Password input:focus
{
border: 2px solid var(--clr-25);
}
.form__container__inner .email input::placeholder,
.form__container__inner .Username input::placeholder,
.form__container__inner .Password input::placeholder
{
    padding: 0rem 1rem;

    font-size: 1rem;
    letter-spacing: 1px;
}

.Form-btn
{
    margin-top: 1rem;

    height: 3rem;
    width: 100%;

    font-size: 1.1rem;
    font-family: var(--Montserrat);
    color: #fff;
    
    border: 0;
    outline: 0;
    border-radius: 6px;
    box-shadow: var(--box-shadow-light);
    background: var(--clr-25);
}
.Form-btn:focus,
.Form-btn:hover
{
    background-color: var(--clr-10);
}
/* ---------------------------------
BreakPoint[Width__688px__]
------------------------------------- */
@media (max-width:688px)
{

/* ---------------NAV_AREA[ START ]--------------- */

nav .logo
{
height: 60px;
width: 150px;
}
.Right-side-Img
{
    left: 0px;
}
.form__container
{
    background: url(./Assets/Images/whale\ cycle.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 0;
    /* background-color: white; */

}
.form__container .Form-btn
{
    margin: 1rem 0rem;
}
.form__container__inner
{
    transform: translateY(-20%);
    
}
.form__container .Left__from_Img
{
    display: none;
}

/* ---------------NAV_AREA[ END ]--------------- */

}
/* ---------------------------------
BreakPoint[Width__780px__]
------------------------------------- */

@media (max-width:780px)
{
.Left__from_Img
{
order: -1;
}
.form__container 
{
    background-color: white;
    grid-template-columns: repeat(1 , 1fr);
    margin-top: 2rem;

}

form
{
    height: auto;
}
.form__container .form__container__inner
{
    background-color: rgba(255, 255, 255, 0.432);
    backdrop-filter: blur(9px);
    margin-top: 0.5em;
}
    .form__container__inner h2
    {
        font-size: 1.6rem;
    }
    .form__container__inner p
    {
        font-size: 0.999rem;
    }
}

/* ---------------------------------
BreakPoint[Width__940px__]
------------------------------------- */
@media (max-width:940px)
{
.form__container 
{
    background-color: white;
    height: 80vh;
}
.form__container .form__container__inner p
{
    font-size: 14px;
}
.form__container:hover
{
    border: 1px solid rgba(255, 255, 255, 0.477);
}
}
/* ---------------------------------
BreakPoint[Width__858px__]
------------------------------------- */
@media (max-width:858px)
{
.form__container 
{
    background-color: white;
    height: 100%;
}
.form__container .form__container__inner p
{
    font-size: 14px;
}
.form__container .form__container__inner
{
    height: 100%;
}

/* ---------------HERO_AREA[ START ]--------------- */
    .hero
    {
    flex-wrap: wrap;
    }
    .Left-side-Texts
    {
        order: 1;
    }
    .Left-side-Texts p
    {
        width: 90%;
    }
/* ---------------HERO_AREA[ END ]--------------- */

/* ---------------NAV_AREA[ START ]--------------- */
.checkbtn
{
    display:block;
    float: right;
} 
.checkbtn span
{
    height: 3px ;
    width: 30px;
    background-color: var(--clr-10);
    display: block;
}
/* BURGER AMI<ATION */

.checkbtn span:nth-child(1)
{
margin-bottom: 0.5rem;
transition: 500ms transform;
}
.checkbtn span:nth-child(2)
{
    transition: 500ms transform;
}
.checkbtn:hover span:nth-child(2)
{
    transform: rotate(45deg) translateX(-25%) ;
}

 .checkbtn:hover  span:nth-child(1)
{
    transform: rotate(-45deg) translateX(-25%) translateY(10%) ;
} 
/* BURGER AMI<ATION */
ul
{
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #00000036;
    backdrop-filter: blur(3px);
    backdrop-filter: 3px;
    text-align: center;
    transition: left 500ms;
    border: 1px solid #b3b3b3;
    z-index: 9999;

}
nav ul li 
{
    display: block;
    transform: translateY(100%);
    margin: 1rem 0rem;
    padding:0.5rem 2rem ;
}
#Ch:checked ~ ul
{
left: 0;
}
/* ---------------NAV_AREA[ END ]--------------- */

}